html, body, #map {
	height: 100%;
	margin: 0px;
	padding: 0px;
	outline: 0px;
    overflow: hidden;
}

/* projet2.html */
#maPosition{
	text-align: center;
	list-style:none;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
  bottom: 1em;
  left: -50px;
  min-width: 20em;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 1em;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 1em;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
}
.ol-popup-closer:after {
  content: "✖";
}

/* choice.html */
#monture {
	text-align: center;
	border: 1px grey solid;
	margin: 1em;
	padding: 1em;
	height: 80%;
}

#monture h2 {
	font-family: Arial;
	color: grey;
}
